/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #494e5e;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: calc(100vh - 100px);
    background-color: var(--body-color);
    margin-top: 100px;
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
    margin-bottom: 30px;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}


.heading{
    color: rgb(24,25,26);
    margin-top: 85pt;
    margin-bottom: 25px;
    margin-left: 70px;
    transition: color 0.4s ease;
    font-size: 20px;
}

body.dark .heading {
    color: #CCC; /* Change text color in dark mode */
}



.container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    gap: 40px 160px;
    justify-content: center;
    margin-bottom: 60px;

}

    .card-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 100px;

    }
    .card{
        width: 325px;
        background-color: #f0f0f0;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0 ,0 ,0.2);
        margin: 20px;
    }
    .card img{
        width: 100%;
        height: auto;

    }

    .card-content{
        padding: 16px;

    }
    .card-content h3{
        font-size: 28px;
        margin-bottom: 8px;
    }

    .card-content .btn{
        display: inline-block;
        padding: 8px 16px;
        background-color: #333;
        text-decoration: none;
        border-radius: 4px;
        margin-top: 16px;
        color: #fff;
    }
    .card{
        transition: all 0.3s;
    }
    .card:hover{
        transform: scale(1.15);
    }











    footer{
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 100px;
        background: #e8e2e2;
        margin-top: 100px;
      }
      
      footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-gap: 80px;
      }
      
      footer .container .sec h2{
        position: relative;
        color: none;
        font-weight: 600;
        margin-bottom: 15px;
      }
      
      footer.container.sec p{
        color: #555;
      }
      
      footer .container .sci{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4,50px);
      }
      
      footer .container .sci li{
        list-style: none;
      }
      
      footer .container .sci li a{
        display: inline-block;
        width: 36px;
        height: 36px;
        background: #333;
        display: grid;
        align-content: center;
        justify-content: center;
        text-decoration: none;
      }
      
      footer .container .sci li a i{
        color: #fff;
        font-size: 20px;
      }
      
      footer .container .quicklinks{
        position: relative;
      }
      
      footer .container .quicklinks ul li{
        list-style: none;
      }
      
      footer .container .quicklinks ul li a{
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block;
      }
      
      footer .container .contact .info{
        position: relative;
      }
      
      footer .container .contact .info li{
        display: grid;
        grid-template-columns: 30px 1fr;
        margin-bottom: 16px;
      }
      
      footer .container .contact .info li span{
        color: black;
        font-size: 20px;
      }
      
      footer .container .contact .info li a{
        color: black;
        text-decoration: none;
      }
      
      .CopyRightText{
        width: 100%;
        background: #fff;
        padding: 20px 100px 30px;
        text-align: center;
        color: #555;
        border: 1px solid rgba(0,0,0,0.15);
      }   
      
      
  body.dark footer {
    background: #242526;
    color: #ccc;
    border-top: 1px solid #393838;
   }
  
  body.dark footer .sci li a,
  body.dark footer .quicklinks ul li a,
  body.dark footer .contact .info li span,
  body.dark footer .contact .info li a {
    color: #ccc;
   }
  
  
  body.dark .CopyRightText {
    background: #242526;
    color: #ccc;
    border-top: 1px solid #393838;
  }
  
  
      
      @media(max-width: 991px)
      {
        footer
      {
        padding: 40px;
      }
      footer .container
      {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
      }
      .CopyRightText{
        padding: 20px 4opx 30px;
      }
      }
      
      @media(max-width:768px)
      {
        footer .container
      {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
      }
      }
